:root {
	--main-bg-color: #222;
	--main-sec-color: #2b2b2b;
	--guild-column-count: 1;
	--public-button-in-use: 0;
	}


.message-group .comment .attachment a {
    text-decoration: none;
    color:#a4a4a4;
}


.popout-menu {
    background: #222;
    -webkit-box-shadow: 0 0px 0 0 rgba(0,0,0,0);
    box-shadow: 0 0px 0 0 rgba(0,0,0,0);
    border-radius: 0px;
    overflow: hidden;
    width: 216px;
}


[style*="/avatars/"]
{ 
    border-radius: 0px;
}

.guilds-wrapper .guilds .guild .guild-inner {
    border-radius: 0px!important;
    background: #a4a4a4;
}


.guilds-wrapper .guilds .guild.selected:before {
border-radius: 0px;
    height: 50px;
    margin-top: -25px;
}

.guilds-wrapper .guilds .friends-icon {
    background: #a4a4a4;
    width: 50px;
    height: 50px;
    background-image: url(/assets/89576a4bb71f927eb20e8aef987b499b.svg);
    background-size: 32px 28px;
    background-position: 50%;
    background-repeat: no-repeat;
}

.guilds-wrapper .guilds .guilds-error {
    border-radius: 0px!important;
}

.unread-23Kvxk {
    border-radius: 0px!important;
}

/* auto-hide channel wrapper */

.channels-wrap {
	width: 10px !important;        
	transition: all .3s ease !important;
	}


.channels-wrap:hover {
	width: 220px !important;
	transition: all .4s ease !important;
	} 

.guilds-wrapper {
	position: absolute;
	transform: rotate(-90deg) translateX(-100vh) translateY(25vh);
	transform-origin: top left;
	height: calc(100% - 19 * 5px + (19 - 1) * 15px);
	}

.guilds-wrapper:hover ~ div {
	transition: all .4s ease !important;
	height: calc(100% - var(--guild-column-count) * 70px + (var(--guild-column-count) - 1) * 15px);
	}

.guilds-wrapper ~ div {
	transition: all .3s ease !important;
	height: calc(100% - var(--guild-column-count) * 10px + (var(--guild-column-count) - 1) * 15px);
	}

.guilds .guild:not(#bd-pub-li) .guild-inner:first-child, .badge, .guild.guilds-add {
	transform: rotate(90deg);
	}

.guilds-wrapper .guilds > .guild:first-child {
	margin-top: calc(12px * var(--public-button-in-use));
	}

.dms {
	padding-top: calc(-8px * (var(--guild-column-count) - 1) / (var(--guild-column-count) - 1));
	margin-left: -8px;
	padding-left: calc(8px * (var(--guild-column-count) - 1) / (var(--guild-column-count) - 1));
	}

.dms .guild {
	display: inline-block;
	}

.app .guilds-wrapper .guilds .dms .guild {
	margin: 8px 0 0 8px;
	}

.app .guilds-wrapper .guilds .friends-online {
	margin: 0;
	line-height: 0;
	transform-origin: 50% -25px;
	transform: rotate(90deg) translateY(calc(5px * (var(--guild-column-count) - 1) + 5px));
	}

.app #bd-pub-li {
	text-transform: uppercase;
	position: absolute;
	top: 5px;
	margin: 0 auto;
	left: calc((var(--guild-column-count) * 70px - (var(--guild-column-count) - 1) * 15px) / 2 - 25px)
	}

#files_directDownload {
	bottom: calc(var(--guild-column-count) * 70px - (var(--guild-column-count) - 1) * 15px);
	left: 240px;
	width: calc(100% - 240px - 240px);
	}


/* member and channel list */


.content-2mSKOj {
	background: var(--main-bg-color);
	}

.content-2mSKOj:hover {
	background: var(--main-bg-color);
	transition: all .2s ease !important;
	padding: 20px;
	}

.channel-members .member.member-status {
     background: var(--main-bg-color);
	}

.channel-members .member.member-status:hover {
	background: var(--main-bg-color);
	transition: all .2s ease !important;
	padding: 10px;
	}


/* set background and highlight colors of elements .container-iksrDt*/

.friends-header, .friends-table-header {
    background: #222 !important;
	}

#bd-customcss-detach-container, #bd-customcss-attach-controls, .CodeMirror-lines, .CodeMirror-gutter.CodeMirror-linenumbers {
	background: #222 !important;
	}

.new-messages-bar {
	background: #222 !important;
	}

.theme-dark .friends-table .messages .divider.divider-red>div, .theme-dark .messages-wrapper .messages .divider.divider-red>div {
	background: #ffffff;
	opacity: .9;
	}

.theme-dark .message-group .mentioned .message-text {
	background: var(--main-sec-color) !important;
	}

.chat .jump-to-present-bar button:first-child{
	background-color: #222;
	}

.tooltip {
	background: #222 !important;
	color: #FFFFFF;
	}

.divider.divider-red span {
	color: transparent !important;
	text-shadow: none !important;
	position: relative;
	padding: 0;
	background-color: #222 !important;
	}

.search-bar {
	background-color: #222;
	}

.divider.divider-red span:before {
	color: #fff;
	content: "new messages";
	position: absolute;
	width: 100%;
	text-align: center;
	}

.headerNormal-1cioxU {
	background: rgb(34,34,34) !important;
	}

#user-profile-modal .header:after {
	background-color: #222;
	background-image: none;
	}

.typing, .guilds, .scroller, .section, .scrollbarGhostHairline-D_btXm, .scrollbar-11WJwo, .section-header,.add-friend, .actions, .header-info,
.avatar-wrapper, .tab-bar-container, .tab-bar, .connected-accounts, .body-3rkFrF, .footer-2J5zqP, .quick-message, .quickMessage-28pD5Y, .marginBottom8-1mABJ4 {
	background: rgb(34,34,34) !important;
	}

.flex-lFgbSz, .flex-3B1Tl4, .horizontal-2BEEBe, .horizontal-2VE-Fw, .flex-3B1Tl4,d.irectionRow-yNbSvJ, .justifyStart-2yIZo0, .alignStretch-1hwxMa, .noWrap-v6g9vO {
	background: rgb(34,34,34) !important;
	}

.guilds-wrapper, .scroller, .title-wrap, .flex-spacer {
	background-color: var(--main-bg-color);
	}

.header {
	background: var(--main-sec-color) !important;
	}

.scroller-fzNley, .header-1tSljs, .container-iksrDt {
	background-color: var(--main-bg-color);
	}

.divider span {
	background: var(--main-sec-color) !important;
	}

.channel-members {
	background: var(--main-bg-color) !important;
	}

.scroller-wrap .scroller::-webkit-scrollbar-thumb {
	background-color: var(--main-sec-color) !important;
	border: 3px solid var(--main-bg-color) !important;
	}

.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
	background-color: var(--main-bg-color) !important;
	border: 3px solid var(--main-bg-color) !important;
	}

.theme-dark .message-group .comment .markup code.inline, .theme-dark .message-group .comment .markup pre code {
	background: var(--main-bg-color) !important;
	color: #fff !important;
	padding: 0.3em 0.6em;
	}




/*status*/


div[class*="avatar-"] div[class*="status"],
#user-profile-modal .status {
	width:100%!important;
	background: transparent;
	border-radius: inherit !important;
	height: 100%!important;
	transition: all 200ms ease !important;
	top: -4px !important;
	right: -4px !important;
	bottom: -4px !important;
	left: -4px !important;
	padding: 2px !important;
	transition: all 200ms ease !important;
	border: 2px solid #636b75 !important;
	margin: 0 !important;
	}

div[class*="user-info"] div[class*="status"] {
	border: none !important;
	}

[class*="theme-"] div[class*="avatar-"] div[class*="online"],
[class*="theme-"] div[class*="avatar-"] div[class*="Online"],
#user-profile-modal div[class*="online"]{
	border-color: #43b581 !important;
	}

[class*="theme-"] div[class*="avatar-"] div[class*="idle"],
[class*="theme-"] div[class*="avatar-"] div[class*="Idle"],
#user-profile-modal div[class*="idle"] {
	border-color: #faa61a !important;
	}

[class*="theme-"] div[class*="avatar-"] div[class*="dnd"],
[class*="theme-"] div[class*="avatar-"] div[class*="Dnd"],
#user-profile-modal div[class*="dnd"] {
	border-color: #f04747 !important;
	}

[class*="theme-"] div[class*="avatar-"] div[class*="streaming"],
[class*="theme-"] div[class*="avatar-"] div[class*="Streaming"],
#user-profile-modal div[class*="streaming"] {
	animation: streaming-flash 1.5s linear infinite !important;
	border-color: #643da7 !important;
	}

[class*="theme-"] div[class*="avatar-"] div[class*="invisible"],
[class*="theme-"] div[class*="avatar-"] div[class*="Invisible"],
#user-profile-modal div[class*="invisible"] {
	border-color: #747f8d !important;
	}

[class*="theme-"] div[class*="avatar-"] div[class*="offline"],
[class*="theme-"] div[class*="avatar-"] div[class*="Offline"],
#user-profile-modal div[class*="offline"] {
	border-color: #636b75 !important;
	}

.channel-members .member.member-status-offline .status {
	display: flex !important;
	}

div[class*="avatar-"] div[class*="status"].status-typing {
	width: 100% !important;
	background-color: rgba(0, 0, 0, 0.4) !important;
	right: 0 !important;
	}

div[class*="avatar-"] div[class*="status"].status-typing .spinner .spinner-inner {
	left: 1px !important;
	top: 1px !important;
	}

[class*="theme-"] .user-popout .avatar-popout .status,
[class*="theme-"] #user-profile-modal .avatar-profile .status {
	border-width: 4px !important;
	top: -7px !important;
	right: -7px !important;
	bottom: -7px !important;
	left: -7px !important;
	padding: 3px !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	box-sizing: content-box;
	}

.channel-members .member, #user-profile-modal .guilds .guild {
	padding-bottom: 8px !important;
	padding-top: 8px !important;
	}


/* status picker */


.popout.popout-top {
	box-shadow: none;
	}

.popout-menu.status-picker {
	background: #222;
	}

.popout-menu.status-picker .popout-menu-separator, .popout-menu.status-picker .popout-menu-item .helper {
	display: none;
	}

.popout-menu .popout-menu-item:hover {
    background-color: #222;
	}


/* User Popout */


.user-popout .body, .user-popout .footer, .user-popout .header {
	background: #222;
	}

.theme-dark .channel-members .member.popout-open, .theme-dark .channel-members .member:hover {
    background: #222;
}

.guilds-wrapper .guilds .guild+.guild {
    margin-top: 8px;
    border-radius: 0px!important;
}


.new-messages-indicator {
    color: #fff;
    opacity: 1;
}
.new-messages-indicator.new-messages-indicator-mention {
    background-color: #000 
}

.badge {
    background-color: #222;
    border-radius: 0px;
    padding: 5px 6px;
    font-size: 16px;
}


.mentioned .mention, .mentioned .mention:hover {
  background: transparent !important;
}

.mention:hover {
  cursor: pointer;
  color: #fff;
  background-color: #ac00b9;
}

.message-group .comment .markup .mention, .nameHovered-28u_Fz, .nameSpeaking-3ROx9q, .nameDefault-1I0lx8 {
  color: #00e5ff;
  animation: rainbow 3s infinite linear;
}

@keyframes rainbow {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(360deg);
  }
}

.theme-dark .message-group .mentioned .message-text {
    background: #222 !important;
}

.message-group .mentioned .message-text:after {
    position: absolute;
    top: 0;
    left: -6px;
    bottom: 0;
    content: " ";
    width: 2px;
    background: #222!important;
    border-left: 4px solid #222!important;
    border-radius: 2px 0 0 2px;
}


.app, .message-group .comment .markup code.inline, .message-group .comment .markup pre code, .name-3gtcmp, .textArea-20yzAH, .button, #clockPluginClock, a, abbr, acronym, address, applet, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, ul, var, .quick-message, input, textarea {
  font-family: Ubuntu Mono!important;
}


.message-group .sink-interactions.clickable {
	background-color: #222;
} 


.channel-members-loading .heading {
    height: 0px;
}

.channel-members-loading .heading, .channel-members-loading .member {
    width: 240px;
    position: relative;
    z-index: 2;
    background-color: transparent;
}

.theme-dark .channel-members-loading {
    background-color: #222;
}

.theme-dark .channel-members-loading .background {
    background-color: !important;
}

.channel-members-loading .member {
    height: 40px;
    background-color: transparent;
}


.connecting {
    background: #222;
}

.app a, .connecting a {
    color: #a4a4a4;
}
